<div class="wrapper">
  <main class="card error">
    <h1 class="error__title">
      500
    </h1>
    <h3 class="error__subtitle">
      Internal server error
    </h3>
    <a
      href="/"
      class="link">Back to home</a>
  </main>
</div>
