<div class="wrapper">
  <main class="card card-form">
    <h1 class="card-form__title">Login</h1>
    <div class="form">{{{form}}}</div>
    <a href="/" class="link">Create a profile</a>
  </main>
</div>
