<main class="wrapper wrapper-profile">
  <div class="profile-left">
    <div class="card">
      <a
        href="/"
        class="link">back</a>
    </div>
    {{!-- back --}}
    <div class="card card-avatar">
      <div class="profile-avatar"></div>
    </div>
    {{!-- avatar --}}
    <div class="card profile__navigation">
      <a
        href="/"
        class="link">Edit profile</a>
      <a
        href="/"
        class="link">Change password</a>
      <a
        href="/"
        class="link">Signout</a>
    </div>
  </div>
  <div class="card profile">
    <div class="profile__row">
      <div class="profile__label">Email:</div>
      <div class="profile__value">user@mail.com</div>
    </div>
    {{!-- email --}}
    <div class="profile__row">
      <div class="profile__label">Login:</div>
      <div class="profile__value">userName</div>
    </div>
    {{!-- login --}}
    <div class="profile__row">
      <div class="profile__label">First name:</div>
      <div class="profile__value">User</div>
    </div>
    {{!-- firstname --}}
    <div class="profile__row">
      <div class="profile__label">Second name:</div>
      <div class="profile__value">User</div>
    </div>
    {{!-- secondname --}}
    <div class="profile__row">
      <div class="profile__label">Display name:</div>
      <div class="profile__value">User</div>
    </div>
    {{!-- displayname --}}
    <div class="profile__row">
      <div class="profile__label">Phone:</div>
      <div class="profile__value">+7 (800) 555-35-35</div>
    </div>
    {{!-- phone --}}
  </div>
</main>

{{#> modal-default title="new avatar"}}
<form class="change-avatar">
  <label
    for="avatar"
    class="change-avatar__label">Select an image file</label>
  <input
    type="file"
    name="avatar"
    id="avatar"
    placeholder="test"
    accept=".jpg, .jpeg, .png"
    class="change-avatar__input">
  <button
    type="submit"
    class="button-default change-avatar__button">Change</button>
</form>
<div class="change-avatar__info">
  you have to select a file
</div>
{{/modal-default}}
