<form class="form-avatar">
  <label for="avatar" class="change-avatar__label">
    Select an image file for a new avatar
  </label>
  <input
    type="file"
    name="avatar"
    id="avatar"
    accept="image/*"
    class="change-avatar__input"
  />
  {{{button}}}
  <div class="change-avatar__info">
    you have to select a file
  </div>
</form>
