<form class="form form-signup">
  <div class="form-signup__col">
    {{#each elementsLeft}}
      {{{this}}}
    {{/each}}
  </div>
  <div class="form-signup__col">
    {{#each elementsRight}}
      {{{this}}}
    {{/each}}
  </div>
</form>
