<ul class="card debug-pages-nav">
  <li>
    <a href="/login">login</a>
  </li>
  <li>
    <a href="/signup">signup</a>
  </li>
  <li>
    <a href="/servererror">500</a>
  </li>
  <li>
    <a href="/notfound">404</a>
  </li>
  <li>
    <a href="/profile">profile</a>
  </li>
  <li>
    <a href="/profile/edit">profile edit</a>
  </li>
  <li>
    <a href="/profile/change-password">change-password</a>
  </li>
  <li>
    <a href="/chat">chat</a>
  </li>
</ul>
