{{#> default title="Login"}}
<div class="wrapper">
  <main class="card card-form">
    <h1 class="card-form__title">Login</h1>
    <form class="form">
      <input
        name="login"
        type="text"
        placeholder="login"
        class="input form__input"
      >
      <input
        name="password"
        type="password"
        placeholder="password"
        class="input form__input"
      >
      <button
        type="submit"
        class="button-default form__button"
      >Sign in</button>
    </form>
    <a
      href="/"
      class="link"
    >Create a profile</a>
  </main>
</div>
{{/default}}