{{#> default title="Signup"}}
<main class="wrapper wrapper-profile">
  <div class="profile-left">
    <div class="card">
      <a
        href="/"
        class="link"
      >back</a>
    </div>
    {{!-- back --}}
    <div class="card card-avatar">
      <div class="profile-avatar"></div>
    </div>
    {{!-- avatar --}}

  </div>
  <form class="card profile">
    <div class="profile__row profile-edit__row">
      <label
        for="email"
        class="profile__label"
      >Email:</label>
      <input
        name="email"
        placeholder="user@mail.com"
        type="email"
        class="input-inner"
      >
    </div>
    {{!-- email --}}
    <div class="profile__row profile-edit__row">
      <label
        for="login"
        class="profile__label"
      >Login:</label>
      <input
        name="login"
        placeholder="userName"
        type="text"
        class="input-inner"
      >
    </div>
    {{!-- login --}}
    <div class="profile__row profile-edit__row">
      <label
        for="first_name"
        class="profile__label"
      >First name:</label>
      <input
        name="first_name"
        placeholder="User"
        type="text"
        class="input-inner"
      >
    </div>
    {{!-- firstname --}}
    <div class="profile__row profile-edit__row">
      <label
        for="second_name"
        class="profile__label"
      >Second name:</label>
      <input
        name="second_name"
        placeholder="User"
        type="text"
        class="input-inner"
      >
    </div>
    {{!-- secondname --}}
    <div class="profile__row profile-edit__row">
      <label
        for="display_name"
        class="profile__label"
      >Display name:</label>
      <input
        name="display_name"
        placeholder="User Name"
        type="text"
        class="input-inner"
      >
    </div>
    {{!-- displayname --}}
    <div class="profile__row profile-edit__row">
      <label
        for="phone"
        class="profile__label"
      >Phone:</label>
      <input
        name="phone"
        placeholder="+ 7 (800) 555-35-35"
        type="tel"
        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
        class="input-inner"
      >
    </div>
    {{!-- phone --}}

    <button
      type="submit"
      class="button-outline profile-edit__button"
    >Save</button>
  </form>
</main>
{{/default}}