{{#> default title="Signup"}}
<div class="wrapper">
  <main class="card card-form">
    <h1 class="card-form__title">Signup</h1>
    <form class="form form-signup">
      <div class="form-signup__col">
        <input
          name="email"
          type="email"
          placeholder="email"
          class="input form__input"
        >
        <input
          name="first_name"
          placeholder="first name"
          type="text"
          class="input form__input"
        >
        <input
          name="password"
          placeholder="password"
          type="password"
          class="input form__input"
        >
        <input
          name="password_repeat"
          placeholder="password (repeat)"
          type="password"
          class="input form__input"
        >

      </div>
      <div class="form-signup__col">
        <input
          name="login"
          placeholder="login"
          type="text"
          class="input form__input"
        >
        <input
          name="second_name"
          placeholder="second name"
          type="text"
          class="input form__input"
        >
        <input
          name="phone"
          placeholder="phone"
          type="number"
          class="input form__input"
        >
        <button
          type="submit"
          class="button-default form__button"
        >Create account</button>
      </div>
    </form>
    <a
      href="/"
      class="link"
    >login</a>

  </main>
</div>
{{/default}}