<button class="contact">
  {{! col }}
  <div class="contact__left">
    <div class="contact__col">
      <div class="contact__name">{{contact.title}}
      </div>
      <div class="contact__last-message">{{contact.last_message.content}}</div>
    </div>
  </div>
  {{! col }}
  <div class="contact__col">
    {{{buttonDelete}}}
  </div>
  {{! col }}
</button>
{{! contact }}
