<div class="dropdown-default {{class}}">
  <ul>
    <li class="dropdown-default__item">
      <button class="button-outline">Add user</button>
    </li>
    <li class="dropdown-default__item">
      <button class="button-outline">Delete user</button>
    </li>
  </ul>
</div>
