<ul class="card debug-pages-nav">
  <li>
    <a href="/src/pages/login.hbs">login</a>
  </li>
  <li>
    <a href="/src/pages/signup.hbs">signup</a>
  </li>
  <li>
    <a href="/src/pages/servererror.hbs">500</a>
  </li>
  <li>
    <a href="/src/pages/notfound.hbs">404</a>
  </li>
  <li>
    <a href="/src/pages/profile.hbs">profile</a>
  </li>
  <li>
    <a href="/src/pages/profile-edit.hbs">profile edit</a>
  </li>
  <li>
    <a href="/src/pages/profile-changepassword.hbs">change-password</a>
  </li>
  <li>
    <a href="/src/pages/chat.hbs">chat</a>
  </li>
  <li>
    <a href="/src/pages/profile-changeavatar.hbs">change avatar</a>
  </li>
</ul>
