<main class="wrapper wrapper-profile">
  <div class="profile-left">
    <div class="card">
      {{{back}}}
    </div>
    {{! back }}
    <div class="card card-avatar">
      {{{avatar}}}
    </div>
    {{! avatar }}
  </div>
  <div class="card profile">{{{form}}}</div>
</main>
