<div class="{{className}}">
  {{#if image}}
    <img
      src="https://ya-praktikum.tech/api/v2/resources/{{image}}"
      alt="uesr avatar"
      class="{{className}}__image"
    />
  {{/if}}
</div>
