 <div class="profile__row profile-edit__row">
  <label
    for="{{name}}"
    class="profile__label">{{label}}</label>
  <div class="input input-profile">
    {{{inputForm}}}
    {{{validatorMessage}}}
  </div>
</div>
