<div class="dropdown-default chat__dropdown">
  <ul>
    <li class="dropdown-default__item">
      {{{buttonAddUser}}}
      {{!-- <button class="button-outline">Add user</button> --}}
    </li>
    <li class="dropdown-default__item">
      {{{buttonDeleteUser}}}
      {{!-- <button class="button-outline">Delete user</button> --}}
    </li>
  </ul>
</div>
