<div class="dropdown-default chat__dropdown">
  <ul>
    <li class="dropdown-default__item">
      {{{addUser}}}
      {{! <button class="button-outline">Add user</button> }}
    </li>
    <li class="dropdown-default__item">
      {{{delUser}}}
      {{! <button class="button-outline">Delete user</button> }}
    </li>
  </ul>
</div>
